@charset "UTF-8";
/* PCCW
---------------------------------------------*/


/* 基本
---------------------------------------------*/
body {
	text-align: left;
	background-color: #96cfff;
	background-image: url(../images/homebg.png);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
}




a:link {
	color: #666666;
}
a:visited {
	color: #333333;
}
a:hover,
a:focus {
	color: #A30019;
}
a:active {
	color: #A30019;
}



/* header
---------------------------------------------*/
#logo {
	padding:15px 5px 12px 12px;
}

#utilityNavigation li#Last login{
	right: 9em;
}



#utilityNavigation li#Chinese{
	
	right: 0;
	line-height: 1.3;
}

#utilityNavigation li a{
	padding-left: 14px;
	text-decoration: none;
}

#utilityNavigation li#English a{
	background: url(../images/icon_reset.gif) left center no-repeat;
}

#utilityNavigation li#Chinese a{
	font-size: 90%;
	background: url(../images/icon_reset.gif) left center no-repeat;
}



/* gobal navigation
---------------------------------------------*/
#globalNavigation {
	float: right;
	height: 50px;
	display: block;
	/* border-right: 1px solid #70747C;
	border-left: 1px solid #70747C;---*/
	
	font: bold 90% Helvetica, san serif, 新細明體;
	line-height: 1.2;
	text-decoration: none;
	
}
#globalNavigation li {
	float: left; /* for WInIE6*/
	padding: 9px 12px 5px 12px;
	height: 15px;
	background: #FFFFFF  url(../images/gn_li_bg.gif) right top repeat-y;
}

#globalNavigation li a {
	display: block;
	color: #3A3A3A;
	text-decoration: none;
}
#globalNavigation li a:hover,
#globalNavigation li a:focus {
	color: #A30019;
	}
	
#globalNavigation li.current {
    padding-top: 4px;
	color: #A30019;
	border-top: 5px solid #e23b30;
	background: #FFFFFF  url(../images/gn_li_bg.gif) right top repeat-y;
	}

#globalNavigation li.current a {
	color: #A30019;
	
		
}
/* login
---------------------------------------------*/

.loginwrapper {
	
	margin-left: auto;
	margin-right: auto;
	width: 1610px;
	height:100%;
	overflow:hidden;		/* This chops off any overhanging divs */
}
.reportLoginwrapper{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height:100%;
	overflow:hidden;
	
}
.loginwrapper_new {
	
	margin-left: auto;
	margin-right: auto;
	width: 1610px;
	height:100%;
	overflow:hidden;		/* This chops off any overhanging divs */
}

.threecol {
	background:#fff;		/* right column background colour */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}


.col1{
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
	
}
.col2 { float:left;
	position:relative;
	padding:0 0 1em 0.5em;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
	width: 1260px;
}
.col3 {
	float:right;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
	width: 330px;
}
#loginwrapper_old
{
	
	margin-left: auto;
	margin-right: auto;
	width: 1620px;
	background: #fff;

}

#loginheader
{
	position: relative;
	height: 103px;
	width: 1620px;
	background: url(../../images/topbg.png) left top repeat-x;
	
	
}

#loginheaderright {
	padding-top: 10px;
	padding-right: 10px;
	float: right;
	min-width: 300px;
	}

#logincontent {
	margin: 1px 0 1px 0;
	width: 1620px;
	height: 400px;
	background-color: #fff;
	background-image: url(../images/login_main.png);
	background-repeat: no-repeat;
		
}
#afterlogincontent {
	margin: 1px 0 1px 0;
	width: 800px;
	padding-left:1px;
	background-color: #fff;
			
}
#afterloginright {
	float: right;
	width: 250px;
	height: 400px;
	font-family: Helvetica, Arial, sans-serif;
			
}

#loginleftmenu{
	float: left;
	width: 400px;
	padding-left: 10px;
	background-color: #fff;
}

#loginright {
	float: right;
	width: 600px;
	height: 400px;
	font-family: Helvetica, Arial, sans-serif;
		
}

#loginmsg {
	font: bold 24pt Helvetica, san serif, 新細明體;
	color: #dd7c35;
		}
	
#loginmsg2 {
	font: bold 16pt Arial, Helvetica, san serif;
	color: #dd7c35;
		}
	
#title_border {
	color: #1a1a1a;
	background-color: #E8E3CD; padding-left: 10px; padding-top: 7px; padding-bottom: 10px;
	border: 1px solid #cc0000;
}
	
span.noteInRed {
font-size: 16px;
color: #CC0000;
	}
	
.divider {

height: 20px;
background: url(../images/top_border.gif) left bottom repeat-x;
margin-bottom: 25px;
position: relative;
width: 1917px;
}
/* This div is optional. The "Space" background just for transparency demo  ...*/

 #tabnav {
float: right;

    width:350px; height:50px;
    padding:29px 0 0 0;
	background-color: #FFF;
  }


#tabsDemo {
overflow:hidden; /* wrap floats */
height:34px; /* trips haslayout, wrap floats IE */
list-style:none;
/* the background image */
background:url(../images/buttons_tabs.png) 0 0 repeat-x;
font:bold 16px/42px Arial, sans-serif;
}

#tabsDemo li {
display:inline;
}

#tabsDemo a {
  float:left;
  position:relative;
  padding-top:5px;
  padding-left:20px;
  padding-right:10px;
  margin-right:10px; /* adjust space between tabs ... */ 
  text-decoration:none;
  color:#fff;
  background:url(../images/buttons_tabs.png) 0 -35px no-repeat;
  height:34px;
  }

#tabsDemo a span {
  position:absolute;
  top:0;
  left:100%;
  width:10px;
  height:34px;
  background:url(../images/buttons_tabs.png) -500px -35px no-repeat;
  }

#tabsDemo .current a {
  color:#fff;
  background-position:0 -106px;
   }

#tabsDemo .current a span {
  background-position:-500px -106px;
  }

#tabsDemo a:active,
#tabsDemo a:focus,
#tabsDemo a:hover {
  color:#fff;
  background-position:0 -71px;
   }

#tabsDemo a:active span,
#tabsDemo a:focus span,
#tabsDemo a:hover span {
  background-position:-500px -71px;
  }

/* content
---------------------------------------------*/



.afterloginright {
	width: 330px;
	padding-top: 5px;
	margin-left:10px;
	font-size:100%;
	line-height:140%;
	color: #000;
	padding-bottom: 10px;
	border-bottom: 1px dashed #767676;
	
	}
	


#content {
	clear: both;
	width:100%;/*for WinIE6,7 */
	Padding-top: 1px;
	}
	
		

#footer {
	position:absolute;
	bottom:0;
	padding-bottom: 30px;
	clear: both;
	font-family: Helvetica, Arial, sans-serif;
	width:100%;/*for WinIE6,7 */
	width: 1917px;
	background-color: #fff;
		}
#footer span{		
	Padding-top: 10px;
	padding-bottom: 20px;
	Padding-left: 20px;
	Padding-right: 20px;
	}



#noteInRed {
	display: block;
	width: 75%;
	
	font-size: 15px;
	color: #CC0000;
	}


/* footer
---------------------------------------------*/
#footerNavigation {
padding-left: 15px;
border-top: 1px solid #E5E5E5;
font-size: 90%;
line-height: 1.2;
}

#footerNavigation li {
float: left;
margin-right: 10px;
padding: 8px 0;
}

#footerNavigation li a{
display: block;
padding-left: 6px;
background: url(../images/arrow_small.gif) left center no-repeat;
text-decoration: none;
}

#copyright{
clear: both;
width: 726px; /*for WinIE6,7*/
font-family: Helvitica, sans-serif, 新細明體;
padding: 20px 15px;
background: #F5F5F5;
border-top: 1px solid #E5E5E5;
font-size: 90%;
line-height: 1;
}
