body { font-family:Verdana; font-size:14px; margin:0;}

#container {margin:0 auto; width:100%;}

<!-- header margin-bottom:10px; -->
#header { width:100%; height:100px; background:#CCED22;}

<!-- margin-bottom:10px; -->
#mainContent { height:100%;}
#sidebar { float:left; width:130px; height:434px; background:#CCED22;}
/*因为是固定宽度，采用左右浮动方法可有效避免ie 3像素bug float:right;  */
#content {  width:100%; height:100%;}

#footer {text-align:center;width:100%; background:#CCED22;}